@{
    ViewBag.Title = "Liên Hệ";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Trụ sở : </strong>475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM<br />
    <abbr title="Phone">P:</abbr>
    1234.567.890
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="14dthc05@gmail.com">14dthc05@gmail.com</a><br />
</address>